@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">ATH Bike Rental System</h1>
    <p>Wiele lokacji, wiele rowerów. Wybierz i jedź!</p>
    <img src="~/images/bike1.jpg"/>
    <img src="~/images/bike2.jpg" />
</div>
