@model IEnumerable<BikeRental.Models.ViewModels.RoleViewModel>

@{
	ViewData["Title"] = "Role użytkowników";
}

<h1>Role użytkowników</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.userName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.role)
			</th>
		</tr>
	</thead>
	<tbody>
		
		@foreach (var item in Model)
		{
			<partial name="_RolePartial" model=item/>		
		}

	</tbody>
</table>
