@{
    ViewData["Title"] = "Rezerwacja udana";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <a asp-area="" asp-controller="Home" asp-action="Index">Powróc na stronę główną</a>
</header>

